connexion == 1.1.15
python_dateutil == 2.6.0
setuptools >= 21.0.0
numpy >= 1.16.0
keras == 2.2.0
tensorflow == 1.5.0
spektral == 0.5.1

git+https://github.com/dpnm-ni/nfvo_module_client
git+https://github.com/dpnm-ni/ni_mon_client
